<!-- <div class="col-lg-3"> -->

    <section class="jumbotron text-center" id="banner">
        <div class="container">
          <h1 class="jumbotron-heading"> Welcome, <%= name%>!</h1>
          <!-- <p class="lead text-muted">Your talent determines what you can do. Your motivation determines how much you are willing to do. Your attitude determines how well you do it. <br> – Lou Holtz</p> -->
          <p>
            <!-- <a href="#" class="btn btn-primary my-2">View Opportunities</a>
            <a href="./profile.html" class="btn btn-secondary my-2">Set Up Profile</a> -->
          </p>
        </div>
      </section>

    <!-- <h1 class="my-4">
        Welcome, <%= name%>!</h1> -->
    <!-- <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div> -->

<!-- </div> -->
<!-- /.col-lg-3 -->