<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cover Letter</title>
    <style>
      body {
        height: 100 vh;
      }

      img {
        width: 100vw;
      }
    </style>

</head>

<body>

  <img src="https://i.pinimg.com/originals/29/b0/cf/29b0cf78415d40a231abf1e6f388319f.gif">
</body>

</html>