<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Connectify</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>

  <%- include('layouts/employerNavigation.ejs')%>

<br>

<main role="main">

  <section class="jumbotron text-center" id="banner">
    <div class="container">
      <h1 class="jumbotron-heading"> Welcome Employer Jones</h1>
      <!-- <p class="lead text-muted">Your talent determines what you can do. Your motivation determines how much you are willing to do. Your attitude determines how well you do it. <br> – Lou Holtz</p> -->
      <p>
        <!-- <a href="#" class="btn btn-primary my-2">View Opportunities</a>
        <a href="./profile.html" class="btn btn-secondary my-2">Set Up Profile</a> -->
      </p>
    </div>
  </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://media.istockphoto.com/photos/headshot-of-cheerful-handsome-man-with-trendy-haircut-and-eyeglasses-picture-id1171169127?k=20&m=1171169127&s=612x612&w=0&h=DxYc1UDQagCiuuaiR1OMRztEsOnWBXwjLPlVqVnn4eY=" data-holder-rendered="true">
                        <div class="card-body">
                            <h3>Liam Davis</h3>
                            <p>Applied for Front-End Developer @ Connectify Inc.</p>
                            <p>Phone Number: <a href="">604-344-6723</a></p>
                            <p>Email: <a href="mailto:liam_davis12@gmail.com">liam_davis12@gmail.com</a></p>
                            <p>Github: <a href="https://github.com/explore">https://github.com/explore</a></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/profile1';">View</button>
                                </div>
                                <small class="text-muted">3 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://annemariesegal.files.wordpress.com/2017/04/adobestock_86346713-cropped-young-woman-in-suit.jpg?w=750" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h3>Emma Williams</h3>
                            <p>Applied for Back-End Developer @ Connectify Inc.</p>
                            <p>Phone Number: <a href="">778-678-2345</a></p>
                            <p>Email: <a href="mailto:emma2001@gmail.com">emma2001@gmail.com</a></p>
                            <p>Github: <a href="https://github.com/explore">https://github.com/explore</a></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/profile2';">View</button>
                                </div>
                                <small class="text-muted">5 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://media.istockphoto.com/photos/headshot-portrait-of-smiling-ethnic-businessman-in-office-picture-id1300512215?k=20&m=1300512215&s=170667a&w=0&h=8haDTC2HXTF6Qb0TkjDy3FauBCd9PCchl6KKX2cUpqg=" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h3>Student Smith</h3>
                            <p>Applied for Quality Assurance Analyst @ Connectify Inc.</p>
                            <p>Phone Number: <a href="">236-634-8079</a></p>
                            <p>Email: <a href="mailto:studentsmith@gmail.com">studentsmith@gmail.com</a></p>
                            <p>Github: <a href="https://github.com/explore">https://github.com/explore</a></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/profile3';">View</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('layouts/end.ejs')%>