<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Connectify</title>
</head>
<body>

    <!-- include header -->
    <%- include('include/_header') %>
    <!-- /include header -->

    <!-- Main site -->
    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome</h1>
<<<<<<< HEAD
<!--            <p>And I'm a Photographer</p>-->
            <button><a class="btn btn-dark btn-sm" href="/admin" >All Users</a></button>
            <button><a href="../public/landing_Page.html">Logout</a></button>
=======
            <button><a class="btn btn-dark btn-sm" href="/admin" >All Users</a></button>
            <button><a href="/landingPage">Logout</a></button>
>>>>>>> main
        </div>
    </div>
    <!-- /Main site -->


    <!-- include footer -->
    <%- include('include/_footer') %>
    <!-- /include footer -->

</body>
</html>