<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Connectify</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">

</head>

<body>
  <%- include('layouts/employerNavigation.ejs')%>

  <main>
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">

        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" height="125px"
              src="https://media.istockphoto.com/photos/headshot-of-cheerful-handsome-man-with-trendy-haircut-and-eyeglasses-picture-id1171169127?k=20&m=1171169127&s=612x612&w=0&h=DxYc1UDQagCiuuaiR1OMRztEsOnWBXwjLPlVqVnn4eY=">
              <br>
            <span class="font-weight-bold">Liam Davis</span><span
              class="text-black-50">liam_davis12@gmail.com</span><span> </span>
          </div>
        </div>

        <div class="col-md-5 border-right">
          <div class="p-3 py-5">

            <div class="d-flex justify-content-between align-items-center mb-3">
              <h2 class="text-right">Profile</h2>
            </div>

            <div class="row mt-2">
              <div class="col-md-6"><h5>Name: Liam Davis</h5></div>
            </div>

            <div class="row mt-3">
              <div class="row mt-2">
                <div class="col-md-12"><h5>Mobile Number: 604-344-6723</h5></div>
              </div>

              <br><br>

              <div class="row mt-2">
                <div class="col-md-12"><h5>Email: <a href="mailto:liam_davis12@gmail.com">liam_davis12@gmail.com</a></h5></div>
              </div>

              <br><br>

              <div class="row mt-2">
                <div class="col-md-12"><h5>Github: <a href="https://github.com/explore">https://github.com/explore</a></h5></div>
              </div>

              <br><br>

              <div class="row mt-2">
                <div class="col-md-12"><h5>Current School: SFU</h5></div>
              </div>

              <br><br>

              <div class="row mt-2">
                <div class="col-md-12"><h5>Current Program: Computer Science</h5></div>
              </div>

              <br><br>


            </div>

            <div class="row mt-3">

              <div class="mb-3">
                <h5>View Resume: <a href="/resume" target="_blank">Click Here</a></h5>
              </div>

              <div class="mb-3">
                <h5>View Cover Letter: <a href="/coverLetter" target="_blank">Click Here</a></h5>
              </div>

            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3 py-5">
            <h2 class="d-flex justify-content-between align-items-center experience"><span>Experience</span>
            </h2>

            <br>

            <div class="col-md-12"><label class="labels">Work Experience</label>
              <ul>
                <li>Sales Associate | Sportchek 2015 - 2019</li>
                <li>Cashier | Mcdonald's 2013 - 2014</li>
              </ul>
            </div>

            <br>

            <div class="col-md-12"><label class="labels">Additional Details</label>
              <ul>
                <li>Ability to work on weekends</li>
                <li>Able to work in person or remote</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/profile.js"></script>


</body>

</html>