<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <style>
      body {
        height: 100 vh;
      }

      img {
        width: 100vw;
      }
    </style>

</head>

<body>

  <img src="https://www.docdroid.net/file/view/WyjIuyO/fake-resume-pdf.jpg">
</body>

</html>