body {
  height: 100%;
}
#banner {
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  background-image: url("https://media.istockphoto.com/videos/defocused-seamless-loop-background-video-id1016831586?s=640x640");
  background-repeat: no-repeat;
  background-size: 200%;
  color: white;
  border-radius: 25px;
}

@media screen and (max-width: 575px) {
  #banner {
      border-radius: 0px;
  }
} 