<!-- copyright footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Connectify!</h5>

                <ul style="list-style: none; line-height: 1.6; font-size: large;">
                    <li><a href="#">About</a> </li>
                    <li><a href="#">Contact Us</a> </li>
                    <li><a href="#">Help Center</a> </li>
                    <li><a href="#">FAQ</a> </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">


                <ul style="list-style: none; line-height: 1.6; font-size: large;">
                    <li>
                        <p>“The crowning fortune of a man is to be born to some pursuit which finds him employment and
                            happiness,
                            whether it be to make baskets, or broadswords, or canals, or statues, or songs.”
                            <br>
                            <br>— Ralph Waldo Emerson

                        </p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        2022 Connectify © Company, Inc. All rights reserved.
    </div>
    <!-- Copyright -->
</footer>