#card-img {
  margin: 5px;
  height: 35vh;
  width: 100%;
}
#card {
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  /* width: 25vw; */
  

}

.btn {
  width: 100%;
  margin: 3px;
}

.col {
  margin-bottom: 20px;
}