@font-face {
  font-family: 'comfortaaregular';
  src: url('/fonts/comfortaa-variablefont_wght-webfont.eot');
  src: url('/fonts/comfortaa-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/comfortaa-variablefont_wght-webfont.woff2') format('woff2'),
    url('/fonts/comfortaa-variablefont_wght-webfont.woff') format('woff'),
    url('/fonts/comfortaa-variablefont_wght-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  text-align: left;
}

body {
  font-family: "comfortaaregular";
  font-size: 14pt;
  display: grid;
  height: 100vh;
  margin: 0px;
  grid-template-columns: 35% 10% 45% 10%;
  grid-template-rows: 20% 60% 20%;

  background-color: white;
}

#errorMsg {
  color: red;
}

#formPanel {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

#sidebar {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
  background-color: #38b6ff;
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}

#logo {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}


#loginForm {
  color: black;
  text-align: center;

}

#loginForm a {
  color: black;
}

#loginForm>input {
  font-size: 1.1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  outline: none;
  border: none;
  text-align: center;
  color: #212121;
  padding: 0.4em;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}


#loginForm>input[type="button"] {
  background-color: #38b6ff;
  border: 3px solid #f2f2f8;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

}

#loginForm>input[type="button"]:hover {
  color: #212121;
  outline: black;

}

#loginForm>input[type="button"]:focus {
  outline: none;

}

#loginForm>input[type="button"]:active {
  transform: translate3D(0, 5px, 0);
  outline: none;

}

#loginForm>p>span {
  text-align: center;
  font-size: 1.1em;
  color: red;
  display: none;
}


@media only screen and (max-width : 700px) {
  body {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 75% 10%;
  }

  #formPanel {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  #sidebar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
  }

  #logo {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    width: 50%;
    height: 90%;
  }
}