.menuItems {
<<<<<<< HEAD
<<<<<<< HEAD
  color: white;
}

.links {
  text-decoration: none;
=======
=======
>>>>>>> main
    color: white;
}

.links {
    text-decoration: none;
<<<<<<< HEAD
>>>>>>> main
=======
>>>>>>> main
}