body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    background-image: url("/images/signup-bg.png");
    background-size: cover;
    padding-left: 115px 0;
    padding-right: 115px 0;
    padding-bottom: 115px 0;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.container {
    width: 660px;
    position: relative;
    margin: 0 auto;
}


.signup-content {
    background: #fff;
    border-radius: 10px;
    padding: 50px 85px;
}

.form-group {
    overflow: hidden;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}


.form-submit {
    width: 100%;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-color: #38b6ff;
}

.form-submit:hover {
    background-color: #14a9ff;

}

input[type=checkbox]:not(old)+label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px;
}

input[type=checkbox]:not(old)+label>span {
    background: white;
    vertical-align: bottom;
}

.label-agree-term {
    font-size: 12px;
    font-weight: 600;
    color: #555;
}

.term-service {
    color: #555;
}

.loginhere {
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.loginhere-link {
    font-weight: 700;
    color: #222;
}

.field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: #555;
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .signup-content {
        padding: 50px 25px;
    }
}